.wrapper {
  margin: auto;
  margin-left: 7vw;
  margin-bottom: 2vh;
}

.h1 {
  font-size: 2.5vw;
  font-style: italic;
  font-weight: medium;
  margin-top: 5vw;
  margin-bottom: 3vw;
  color: #3f3f3f;
}

.p {
  font-size: 1.3vw;
  font-weight: 200;
}

.btn{
  position: absolute;
  right: 0.75rem;
  z-index: 10;
  font-size: 2vw;
  color: #1E90FF;
}

.header {
  margin-top: 5vh;
  text-align: center;
}

.images{
  border-top-left-radius: 50vh;
  border-color: rgb(186 230 253 / var(--tw-border-opacity));
  background-color: #8DC4F9;
  padding-left: 1.25rem;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Animation Right to Left */
.animateShowImage {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.animateHiddenImage{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}
/*  */

.myswiper {
  width: 100%;
  height: 80vh;
  position: relative;
  /* border-bottom: 7px solid hsl(var(--p)); */
}

.myswiper header {
  @apply rounded-xl border border-base-200 bg-base-300/75 p-3;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  left: 10%;
  top: 20%;
  z-index: 10;
  max-width: 20%;
}
.myswiper header h1 {
  @apply border-b border-primary;
}
.myswiper2 :global(.swiper-slide) {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}
.myswiper img {
  object-fit: cover;
}

.swiperPrev,
.swiperNext {
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  z-index: 1;
  font-size: xx-large;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.6);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  user-select: none;
  transition: all 0.05s ease-in-out;
  opacity: 0;
}
.swiperPrev {
  left: -2%;
}
.swiperNext {
  right: -2%;
}

.swiperPrev:hover,
.swiperNext:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}
.swiperPrev:active,
.swiperNext:active {
  transform: translateY(-50%) scale(1);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: rgba(30, 30, 30, 0.6);
}
@media (max-width:  820px) {
  .myswiper {
    height: 40vh;
  }
  .myswiper header {
    left: 0;
    top: 0;
    max-width: max-content;
  }
  .h1{
    font-size: 4vw;
  }
  .p{
    font-size: 2.5vw;
  }
  .images{
    margin-top: 15vh;
  }
}
@media(max-width: 567px) {
  .h1{
    font-size: 5vw;
  }
  .p{
    font-size: 3.5vw;
  }
  .images{
    margin-top: 15vh;
  }
}
